@media (max-width: 1024px) {

  main{
    grid-template-columns: 1fr;
  }
  
  .logo,.tabs{
    display: none;
  }
  .res_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .res_nav i{
    font-size: 2rem;
  }
  .search-login{
    display: none;
  }
  .res_tabs{
    display: block;
    font-size: 1.3rem;
    height: 0;
    overflow: hidden;
    transition: height .3s ease-in-out;
  }
  .sidebar{
    margin: 0;
    padding-bottom: 0;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .movie-grid{
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .movie-info-box{
    margin: 0 0 2rem 0;
  }
  .res_search{
    height: 40px;
    width: 15rem;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.178);
    border: none;
    border: 2px solid #9d9daa2b;
    outline: none;
    color: white;
    padding: 1rem;
  }
}
@media (max-width: 786px) {
  body{
    padding: 0;
  }
  main{
    border-radius: 0;
    margin: 0;
  }
}

@media (max-width: 426px){
  .movie-info span{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
   .res_nav i{
    font-size: 1.3rem;
   }
   .res_tabs{
    font-size: 1rem;
   }
    .main-container{
        align-items: flex-start;
    }
    .movie-info-box{
        flex-direction: column;
        align-items: flex-start;
    }
    .movie-info{
        flex-direction: column;
        align-items: flex-start;
    }
    .movie-grid{
        grid-template-columns: 1fr 1fr;
    }
    .sidebar{
      padding: 1rem;
    }
    .main-container{
      padding-top: 0;
      padding: 1rem;
    }
}