.movie-poster{
    height: 85vh;
    width: 100%;
    margin: 2rem 0 3rem;
    border-radius: 20px;
    overflow: hidden;
    padding: 0;
}
.similar-movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
    grid-template-rows: auto;
    gap: 1.7rem;
}

.movie-poster img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



